<template>
	<div class="container-scroller">
    	<div class="container-fluid page-body-wrapper full-page-wrapper">
        	<div class="content-wrapper d-flex align-items-center auth">
            	<div class="row w-100">
                	<div class="col-lg-4 mx-auto">
                    	<div class="auth-form-light text-left p-5">
                            <h4>Inicio de sesión</h4>

                            <form class="pt-3">
                                <div class="form-group">
                                    <input v-model="Cliente.Email" type="email" class="form-control form-control-lg" placeholder="Email" autofocus>
                                </div>

                                <div class="form-group">
                                    <input v-model="Cliente.Pass" type="password" class="form-control form-control-lg" placeholder="Contraseña">
                                </div>

                                <div class="mt-3 cursor">
                                    <a v-on:click="login()" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Iniciar sesión</a>
                                </div>

                                <div class="text-center mt-4 font-weight-light">
                                    ¿No tienes una cuenta? <a href="register.html" class="text-primary">Crear</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import config from '../../../config/configServer';
    import axios  from 'axios';

	export default {
        data() {
            return {
                Cliente: {
                    Email : "",
                    Pass  : ""
                },

                info: ""
            }
        },

        methods: {
            async login() {
                this.info = "Iniciando, por favor espere...";
                this.$store
                .dispatch("login", this.Cliente)
                .then(() => {
                    this.$router.replace("inicio")
                })
                .catch((err) => {
                    this.info = err
                    this.mostrarMensaje(true, err);
                });
            },

            mostrarMensaje(estado, mensaje) {
                if(estado === true) {
                    this.$awn.alert(mensaje)

                    return;
                }

                this.$awn.success(mensaje)
            }
        }
	}
</script>

<style scoped>
    @import '../../../static/css/stylesAdmin.css';
    
    .cursor {
        color  : white;
        cursor : pointer;
    }
</style>