<template>
    <div class="container-scroller">
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="../../index.html"><img src="../../../static/img/logo.svg" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../../static/img/logo-mini.svg" alt="logo" /></a>
            </div>
            
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-img">
                                <img src="../../../static/img/face2.jpg" alt="image">
                                <span class="availability-status online"></span>
                            </div>
                        
                            <div class="nav-profile-text">
                                <p class="mb-1 text-black">David Greymaax</p>
                            </div>
                        </a>
              
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-cached mr-2 text-success"></i> Activity Log
                            </a>

                            <div class="dropdown-divider"></div>
                        
                            <a class="dropdown-item" v-on:click="cerrarSesion()">
                                <i class="mdi mdi-logout mr-2 text-primary"></i> Cerrar sesión
                            </a>
                        </div>
                    </li>
                </ul>
          
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                        
                            <div class="nav-profile-image">
                                <img src="../../../static/img/face2.jpg" alt="profile">
                                <span class="login-status online"></span>
                                <!--change to offline or busy as needed-->
                            </div>
                
                            <div class="nav-profile-text d-flex flex-column">
                                <span class="font-weight-bold mb-2">David Grey. H</span>
                                <span class="text-secondary text-small">Project Manager</span>
                            </div>
                        
                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        </a>
                    </li>
            
                    <li class="nav-item">
                        <a v-on:click="irView('/inicio')" class="nav-link">
                            <span class="menu-title">Inicio</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>

                        <a v-on:click="irView('/inicio/productos')" class="nav-link">
                            <span class="menu-title">Productos</span>
                            <i class="mdi mdi-basket menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        
            <!-- partial -->
            <div class="main-panel">
                <!-- Aquí vá todo el contenido -->
                <div class="content-wrapper">
                    <router-view />
                </div>
            <!-- partial -->
            </div>
        <!-- main-panel ends -->
        </div>
      <!-- page-body-wrapper ends -->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                
            }
        },

        methods: {
            cerrarSesion() {
                this.$store
                .dispatch("logout")
                .then(() => {
                    this.$router.replace("/login");
                })
                .catch((err) => {});
            },

            irView(ruta) {
                this.$router.replace(ruta);
            }
        }
    }
</script>

<style>
    @import '../../../static/css/css/materialdesignicons.min.css';
    @import '../../../static/css/stylesAdmin.css';
</style>