@charset "UTF-8";

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
*,
::after,
::before {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
    margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
    /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    /*Colores*/
    --dark: #333333;
    --dark-light: #999999;
    --primary: #00c8c8;
    --dark-lighten: #f8f8f8;
    --border-dark-light: solid 1px rgba(153, 153, 153, 0.29);
    /*Tamaños de tipografía*/
    /*  --titulo-h1: 32px;
    --body-font-size: 13px;


    @media (max-width: 375px){
        --titulo-h1: 20px;
    }*/
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

label {
    display: block;
}

iframe {
    height: 100%;
    position: absolute;
    width: 100%;
}

footer {
    padding-bottom: 0px !important;
}

.nabvar-mobile {
    background: var(--dark);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.5em;
    position: fixed;
    min-width: 100%;
    z-index: 200;
}

.nabvar-mobile-link {
    color: #ffffff !important;
    text-decoration: none;
}

.nav-menu {
    z-index: 50;
    width: 80%;
    padding-top: calc(40px + 1.5em);
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 100;
    border: var(--border-dark-light);
    background: #ffffff;
    transition: 0.5s;
    transform: translateX(-100%);
}

.nav-menu-ul {
    margin: 1rem 0 1rem 0;
}

.nav-menu-item {
    border-top: var(--border-dark-light);
}

.nav-menu-link {
    color: var(--dark-light);
    text-decoration: none;
    display: block;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.sub-menu-ul {
    background: var(--dark-lighten);
}

.sub-menu-ul .nav-menu-link {
    padding-left: 40px;
}

.form-group {
    width: 90%;
    position: relative;
    margin: auto;
}

.form-group-container {
    position: relative;
}

.form-group-icon {
    position: absolute;
    right: 10px;
    font-size: 1.5em;
    color: var(--dark-light);
}

.form-group-input {
    padding: 0.5rem;
    border-radius: 4px;
    border: var(--border-dark-light);
    width: 100%;
    outline: none;
}

.nav {
    border-top: var(--border-dark-light);
    margin-top: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0;
}

.nav-item {
    display: block;
    padding: 0.33333rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark);
    font-weight: bold;
}

.nav-item:hover {
    color: var(--primary);
}

.container-sub-menu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.active {
    color: var(--primary) !important;
}

.openOffCanvas {
    transform: translateX(0);
}

@media (max-width: 1022px) {
    .navbar-top {
        display: none;
    }

    .nav-menu__container-sub-menu {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
    }
}

.nav {
    border-top: var(--border-dark-light);
    margin-top: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0;
}

.nav-item {
    display: block;
    padding: 0.33333rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark);
    font-weight: bold;
}

.nav-item:hover {
    color: var(--primary);
}

.--active {
    color: var(--primary);
}

@media screen and (min-width: 768px) {
    .brand {
        display: none;
    }
}

@media screen and (min-width: 1023px) {
    .brand {
        display: block;
    }

    .nav-menu-item {
        list-style: none;
    }

    .nabvar-mobile {
        display: none;
    }

    .navbar-top {
        background: var(--dark);
    }

    .navbar-top-ul {
        display: flex;
        margin: 0;
        padding: 0.5rem;
        justify-content: space-around;
    }

    .navbar-top-links {
        color: #ffffff;
    }

    .navbar-top-links:hover {
        color: var(--primary);
    }

    .nav-menu {
        z-index: 50;
        transform: translate(0);
        display: flex;
        justify-content: flex-end;
        background: transparent;
        width: 100%;
        height: 100px;
        padding-top: 0;
        border: 0;
        align-items: center;
        overflow: visible;
        margin-top: 2.5rem;
    }

    .nav-menu-ul {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        overflow: visible;
        margin: 0;
        margin-right: 3rem;
    }

    .nav-menu-item {
        border-top: 0;
        position: relative;
    }

    .nav-menu-link {
        font-weight: bold;
    }

    .sub-menu-ul {
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
    }

    .sub-menu-ul .nav-menu-item {
        display: flex;
        flex-direction: column;
    }

    .sub-menu-ul .nav-menu-link {
        padding: 16px;
        font-weight: normal;
    }

    .container-sub-menu {
        display: none;
        max-height: none;
        overflow: visible;
    }

    .nav-menu-item:hover > .container-sub-menu {
        width: 400px;
        background: var(--dark-lighten);
        padding: 1rem;
        position: absolute;
        top: 56px;
        display: flex;
        flex-wrap: wrap;
        -moz-box-shadow: 1px 6px 18px rgba(94, 94, 94, 0.5);
        /*FF 3.5+*/
        -webkit-box-shadow: 1px 6px 18px rgba(94, 94, 94, 0.5);
        /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
        box-shadow: 1px 6px 18px rgba(94, 94, 94, 0.5);
        /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
        height: auto;
    }

    .--nav-dark-light {
        background: var(--dark-lighten);
    }

    .nav-menu .ads {
        width: 100%;
    }

    .nav-menu .brand {
        width: 20%;
        padding-left: 20px;
    }

    .nav-menu .form-group {
        margin: 0;
        order: 1;
        width: 200px;
        margin-right: 3rem;
    }

    .nav {
        width: 100%;
        justify-content: flex-start;
    }

    .nav-item {
        padding: 1rem;
    }
}

.nav-fixed {
    position: fixed;
    background: var(--dark-lighten);
    top: 0;
    margin: 0;
}

.banner-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #ffffff;
}

.banner-container .title {
    margin: 0;
}

.banner-container .btn {
    white-space: nowrap;
}

.title-cover {
    font-size: 10em;
    margin: 0;
    color: var(--dark);
}

.banner-cover,
.banner-second {
    background-position: center top;
    background-size: cover;
}

.banner-cover {
    background-image: url(../img/banner.png);
    height: 100vh;
}

.banner-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #ffffff;
}

.banner-container .title {
    margin: 0;
}

.banner-cover,
.banner-second {
    background-position: center top;
    background-size: cover;
}

.banner-cover {
    background-image: url(../img/banner.png);
    height: 100vh;
}

.banner-second {
    background-image: url(../img/banner-second.jpg);
    height: 50vh;
    margin-bottom: 1rem;
    position: relative;
}

.banner-second::before {
    content: "";
    background: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

@media screen and (min-width: 768px) {
    .banner {
        padding-top: 0;
    }

    .banner .title {
        font-size: 20rem !important;
    }

    .banner .title-cover {
        font-size: 20rem;
    }

    .banner .btn {
        position: absolute;
        right: 60px;
        bottom: 60px;
    }
}

@media screen and (min-width: 1023px) {
    .banner-cover {
        background-image: url(../img/banner-large.jpg);
    }
}

@media (max-width: 544px) {
    .column-full {
        width: 100% !important;
        text-align: center;
    }
}

.card {
    width: 100%;
    position: relative;
    background: #ffffff;
    margin-top: 1rem;
    cursor: pointer;
}

.card .price {
    position: absolute;
}

.card:hover > .card-info {
    display: block;
    transition: 0.2s all ease;
}

.card .card-buttons .btn:hover {
    color: #ffffff;
}

.card:hover,
.card-info {
    box-shadow: 1px 1px 13px 2px rgba(94, 94, 94, 0.5);
}

.card-info {
    padding: 0.5rem;
    display: none;
    position: absolute;
    top: 100%;
    background: #ffffff;
    z-index: 10;
    width: 100%;
}

.card-buttons {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-buttons a {
    margin-left: 10px;
}

@media screen and (max-width: 320px) {
    .card-buttons {
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
}

.card-second {
    background: var(--dark-lighten);
    border: 0;
    box-shadow: none;
    width: 100%;
    position: relative;
    padding-top: 1rem;
}

.card-second-body {
    position: absolute;
    top: 0;
    width: 65%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 372px) {
    .card-second-body {
        width: 80%;
    }
}

.btn {
    display: inline-block;
}

.card-second h1 {
    margin-bottom: 0;
}

.price {
    color: var(--dark-light);
    top: 0.5rem;
    left: 0.5rem;
}

.card-simple-options {
    display: none;
}

.card:hover > .card-simple-options {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card:hover > .card-simple-options .btn {
    margin: 0.5rem;
    background: var(--dark-lighten);
    color: var(--dark);
}

.card:hover > .card-simple-options .btn:hover {
    background: var(--dark-lighten);
    color: var(--primary);
}

.footer {
    background: var(--dark-lighten);
    margin-top: 1rem;
    padding: 24px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
}

.footer-ul {
    width: 100%;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .footer-ul {
        width: auto;
    }
}

.footer-item {
    margin: 1rem;
}

.footer-link {
    color: var(--dark);
}

.footer-link:hover {
    color: var(--primary);
}

.footer-socials {
    background: var(--primary);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.footer-solcials-link {
    color: #ffffff;
    font-size: 2em;
}

.footer-bar-top {
    background: var(--dark);
}

.footer-bar-top-links {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.footer-bar-top-links:hover {
    color: var(--primary);
}

.form-group {
    width: 90%;
    position: relative;
    margin: auto;
}

.form-group__container {
    position: relative;
}

.form-group__icon {
    position: absolute;
    right: 10px;
    font-size: 1.5em;
    color: var(--dark-light);
}

.form-group__input {
    padding: 0.5rem;
    border-radius: 4px;
    border: var(--border-dark-light);
    width: 100%;
    outline: none;
}

.form-control-field {
    border: 1px solid var(--dark-light);
    padding: 0.5rem;
    width: 100%;
    outline: none;
}

.error {
    border: 1px solid #bb5465;
    background: #fcf8f9;
}

.form-control input {
    margin-bottom: 2rem;
}

.ads {
    color: #ffffff;
    background: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ads-h1 {
    margin-bottom: 0;
}

.slider {
    width: 90%;
    min-height: 410px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.slider-buttons {
    position: absolute;
    cursor: pointer;
    padding: 2px 12px;
}

.slider-buttons:hover {
    background: var(--primary);
    color: #ffffff;
}

.slider-button-left {
    left: 0;
}

.slider-button-right {
    right: 0;
}

.slider-img-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slider-item {
    position: relative;
    height: inherit;
    visibility: hidden;
    object-fit: cover;
    opacity: 0;
    max-width: 100%;
}

.active {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
}

.tabs-container {
    width: 100%;
    margin-top: 3rem;
    position: relative;
}

.tabs {
    margin: 0;
    display: flex;
    white-space: nowrap;
    overflow: auto;
    background: var(--dark-lighten);
    justify-content: flex-start;
}

.tabs-item {
    position: relative;
    padding: 1em;
    display: block;
    color: var(--dark);
    cursor: pointer;
}

.active-tab {
    background: var(--dark);
    color: #ffffff;
}

.tabs-panels {
    position: relative;
    z-index: 10;
    margin-top: 1rem;
}

.tabs-panels h2 {
    margin-top: 0;
}

.tab-panel {
    position: absolute;
    left: -5000%;
    margin-bottom: 3rem;
}

.active-panel {
    position: relative;
    left: 0;
}

.video-container {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.comment-container {
    display: flex;
    align-items: flex-start;
    border-bottom: var(--border-dark-light);
    margin-top: 1rem;
}

.avatar {
    margin-right: 1rem;
    border: solid 1px var(--dark-light);
}

.comment {
    flex: 1;
    margin-bottom: 1rem;
}

.container {
    width: 85%;
}

@media (min-width: 1091px) {
    .container-full {
        margin: auto;
        width: 95% !important;
    }
}

.rating-stars {
    --w: 60px;
    --h: calc(var(--w) / 5);
    position: relative;
    width: var(--w);
    height: var(--h);
    background: url(../img/star-empty.svg) left/var(--w) var(--h) no-repeat;
}

.rating-stars::after {
    content: '';
    background: url(../img/star-full.svg) left/var(--w) var(--h) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--rating);
    height: 100%;
}

.course-rating-container .rating-stars {
    --w: 90px;
    margin: 0 .25rem 0 0;
}

.btn {
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background: transparent;
}

.btn-default {
    color: var(--dark);
    border: solid 1px var(--dark);
}

.btn-default:hover {
    background: var(--primary);
    color: #ffffff;
    border: 0;
}

.btn--mini-rounded {
    background: var(--dark);
    color: var(--dark-lighten);
    border-radius: 50%;
    padding: 13px 18px;
}

.btn--mini-rounded:hover {
    background: var(--primary);
}

.text {
    margin: 8px 0 8px 0;
}

.text-default {
    color: var(--dark-light);
}

.icon-socials {
    color: var(--dark-light);
    margin-right: 1rem;
}

.icon-socials:first-child {
    margin-left: 1rem;
}

.icon-socials:hover {
    color: var(--primary);
}

.brand {
    margin-left: 1rem;
}

.separator {
    border-top: var(--border-dark-light);
    width: 100%;
    margin-top: 1rem;
}

.hidden-mobile {
    display: none;
}

.--text-right {
    right: 0;
    text-align: right;
    padding: 0 1rem 0 0;
}

.--text-left {
    left: 0;
    text-align: left;
    padding: 0 0 0 1rem;
}