<template>
    <div>
        <header>
            <nav class="navbar-top">
                <ul class="navbar-top-ul">
                    <li class="navbar-top-item">
                        <a v-on:click="irView('/')" class="navbar-top-links">Inicio</a>
                    </li>
                </ul>
            </nav>
        </header>
    
        <!-- Banner -->
        <div class="banner banner-second">
            <div class="banner-container ">
                <h1>La marca</h1>
                <h2>Slogan de la compañia</h2>
            </div>
        </div>

        <div class="container">
            <div class="columns">
                <div class="column">
                    <h2 class="is-size-4">Iniciar sesión</h2>
                    <form action="#" class="form-control">
                        <input v-model="Cliente.Email" type="email"    placeholder="Email"    class="form-control-field error">

                        <input v-model="Cliente.Pass"  type="password" placeholder="Password" class="form-control-field">

                        <button v-on:click="iniciarSesion()" class="btn btn-default btn-primary">Iniciar seción</button>
                    </form>
                </div>
                
                <div class="column">
                    <h2 class="is-size-4">Registro</h2>
                    <form action="#" class="form-control">
                        <input type="email" placeholder="Email" class="form-control-field">

                        <input type="password" placeholder="Password" class="form-control-field">

                        <input type="password" placeholder="Confirma tu password" class="form-control-field">
                        
                        <button class="btn btn-default btn-primary">Crear cuenta</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column">
                        <ul class="footer-ul">
                            <li class="footer-item">
                                <h3 class="has-text-weight-bold">Información</h3>
                            </li>
                            <li class="footer-item"><a class="footer-link" href="#">La marca</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Local stores</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Servicios </a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Mapa del sitio</a></li>
                        </ul>
                    </div>

                    <div class="column">
                        <ul class="footer-ul">
                            <li class="footer-item">
                                <h3 class="has-text-weight-bold">Porqué comprar</h3>
                            </li>
                            <li class="footer-item"><a class="footer-link" href="#">Envios y retornos</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Envios seguros</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Testimonios </a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Award waining</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Etival trading</a></li>
                        </ul>
                    </div>

                    <div class="column">
                        <ul class="footer-ul">
                            <li class="footer-item">
                                <h3 class="has-text-weight-bold">Tu cuenta</h3>
                            </li>
                            <li class="footer-item"><a class="footer-link" href="#">Iniciar sesión</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Registro</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Ver carrito </a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Ver catálogo</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Track an order</a></li>
                        </ul>
                    </div>
                
                    <div class="column">
                        <ul class="footer-ul">
                            <li class="footer-item">
                                <h3 class="has-text-weight-bold">Catalogo</h3>
                            </li>
                            <li class="footer-item"><a class="footer-link" href="#">Catálogo para hombres</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Catálogo para mujeres</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Ver tu Catalogo </a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Borrar tu catalogo</a></li>
                        </ul>
                    </div>
                
                    <div class="column">
                        <ul class="footer-ul">
                            <li class="footer-item">
                                <h3 class="has-text-weight-bold">Datos de contacto</h3>
                            </li>
                            <li class="footer-item"><a class="footer-link" href="#">Head</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Catálogo para mujeres</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Ver tu Catalogo </a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Borrar tu catalogo</a></li>
                        </ul>
                    </div>
                    
                    <div class="column is-full">
                        <div class="footer-socials">
                            <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-instagram"></i></a>
                            <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bar-top">
                <div class="container">
                    <a class="footer-bar-top-links" href="#">2019 Avenue Fashion</a>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
    import config from '../../../config/configServer';
    import axios  from 'axios';

    export default {
        data() {
            return {
                Cliente: {
                    Email : "",
                    Pass  : ""
                },

                info: ""
            }
        },

        methods: {
            async iniciarSesion() {
                this.info = "Iniciando, por favor espere...";
                this.store
                .dispatch("login", this.Cliente)
                .then(() => {
                    this.$router.replace("inicio")
                })
                .catch((err) => {
                    this.info = err
                });
            },

            irView(ruta) {
                this.$router.replace(ruta);
            }
        }
    }
</script>

<style>

</style>