<template>
    <div>
        <!-- Barra de navegación -->
        <header>
            <!-- Barra principal -->
            <nav class="navbar-top">
                <ul class="navbar-top-ul">
                    <li class="navbar-top-item">
                        <a v-on:click="irView('registro')" class="navbar-top-links">Registro</a>
                    </li>

                    <li class="navbar-top-item">
                        <a v-on:click="irView('registro')" class="navbar-top-links">Iniciar sesión</a>
                    </li>

                    <li class="navbar-top-item">
                        <a href="admin" class="navbar-top-links">
                            <!--<i class="zmdi zmdi-shopping-cart"></i>--> Administración
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- FIN Barra principal -->

            <!-- Menú -->
            <nav class="navbar">
                <header class="nabvar-mobile is-size-5-mobile">
                    <a class="navbar-mobile-link has-text-white" href="#" id="btn-mobile">
                        <i class="zmdi zmdi-menu"></i>
                    </a>
                    <a class="navbar-mobile-link has-text-white" href="#">Avenue Fashion</a>
                    <a class="navbar-mobile-link has-text-white" href="#">
                        <i class="zmdi zmdi-shopping-cart"></i> Vacio
                    </a>
                </header>

                <nav class="nav-menu" id="mySidenav">
                    <form class="form-group" action="#">
                        <div class="form-group-container">
                            <span class="form-group-icon">
                                <i class="zmdi zmdi-search"></i>
                            </span>
                            <input type="text" class="form-group-input" placeholder="Buscar...">
                        </div>
                    </form>

                    <a class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark" href="#">Avenue Fashion</a>
                    
                    <ul class="nav-menu-ul">
                        <li v-for="categoria in listaCategorias" :key="categoria._id" class="nav-menu-item">
                            <a v-on:click="cargarListaProductosPorCategorias(categoria._id)" class="nav-menu-link link-submenu">{{categoria.Nombre}}</a>
                        </li>
                    </ul>
                </nav>
            </nav>
            <!-- FIN Menú -->
        
        </header>
        <!-- FIN Barra de navegación -->

        <!-- Banner -->
        <div class="banner banner-cover">
            <div class="banner-container">
                <h1 class="title-cover">AVE</h1>
                <a class="btn btn-default" href="#">Comprar colección para Hombres</a>
            </div>
        </div>
        <!-- FIN Banner -->

        <!-- Barra de navegacion secundaria
        <div class="container">
            <nav class="nav">
                <a class="nav-item active has-text-weight-semibold" href="#">Popular</a>
                <a class="nav-item has-text-weight-semibold"        href="#">Novedades</a>
                <a class="nav-item has-text-weight-semibold"        href="#">Más vendidos</a>
                <a class="nav-item has-text-weight-semibold"        href="#">Ofertas</a>
                <a class="nav-item has-text-weight-semibold"        href="#">Muy pronto</a>
            </nav>
        </div>
        -->

        <!-- Sección de fotografías -->
        <div class="container container-full">
            <div class="columns is-centered is-multiline">
                <div v-for="producto in listaProductosPorCategorias" :key="producto._id" class="column is-half-tablet is-one-quarter-desktop column-half">
                    <div class="card">
                        <span class="price">${{producto.Precio}}</span>
                        <img v-bind:src="urlServer+'/foto/producto/'+producto.UrlImg" alt="" class="formatoImagen">
                                
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold">{{producto.Nombre}}</h4>
                            <p class="has-text-centered">{{producto.Descripcion}}</p>
                                    
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </a>
                                        
                                <a href="#" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-favorite-outline"></i>
                                </a>
                                        
                                <a href="producto.html" class="btn btn--mini-rounded">
                                    <i class="zmdi zmdi-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN Sección de fotografías -->

        <div class="container container-full">
            <div class="columns is-centered is-multiline">
                <div class="column is-full">
                    <div class="separator"></div>
                </div>
                
                <div class="column is-half-tablet is-one-third-desktop column-half">
                    <div class="card card-second">
                        <img class="card-second-image" src="static/img/lookbook-men.png" alt="">
                        
                        <div class="card-second-body --text-right">
                            <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo para hombres</h1>
                            <p class="has-text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Voluptatum labore quae reiciendis, corrupti debitis dicta
                            </p>
                            
                            <div>
                                <a href="#" class="btn btn-default is-size-7">Ver ahora</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-half-tablet is-one-third-desktop column-half">
                    <div class="card card-second">
                        <img class="card-second-image" src="static/img/lookbook-women.png" alt="">
                        
                        <div class="card-second-body --text-right">
                            <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo para hombres</h1>
                            <p class="has-text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Voluptatum labore quae reiciendis, corrupti debitis dicta
                            </p>
                            
                            <div>
                                <a href="#" class="btn btn-default is-size-7">Ver ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="card card-second">
                        <img class="card-second-image" src="static/img/lookbook-you.png" alt="">
                        
                        <div class="card-second-body --text-right">
                            <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Catálogo para hombres</h1>
                            <p class="has-text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Voluptatum labore quae reiciendis, corrupti debitis dicta
                            </p>
                            
                            <div>
                                <a href="#" class="btn btn-default is-size-7">Ver ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column">
                        <ul class="footer-ul">
                            <li class="footer-item">
                                <h3 class="has-text-weight-bold">Información</h3>
                            </li>
                            <li class="footer-item"><a class="footer-link" href="#">La marca</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Local stores</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Servicios </a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Mapa del sitio</a></li>
                        </ul>
                    </div>

                    <div class="column">
                        <ul class="footer-ul">
                            <li class="footer-item">
                                <h3 class="has-text-weight-bold">Porqué comprar</h3>
                            </li>
                            <li class="footer-item"><a class="footer-link" href="#">Envios y retornos</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Envios seguros</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Testimonios </a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Award waining</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Etival trading</a></li>
                        </ul>
                    </div>
                
                    <div class="column">
                        <ul class="footer-ul">
                            <li class="footer-item">
                                <h3 class="has-text-weight-bold">Tu cuenta</h3>
                            </li>
                            <li class="footer-item"><a class="footer-link" href="#">Iniciar sesión</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Registro</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Ver carrito </a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Ver catálogo</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Track an order</a></li>
                        </ul>
                    </div>
                
                    <div class="column">
                        <ul class="footer-ul">
                            <li class="footer-item">
                                <h3 class="has-text-weight-bold">Catalogo</h3>
                            </li>
                            <li class="footer-item"><a class="footer-link" href="#">Catálogo para hombres</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Catálogo para mujeres</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Ver tu Catalogo </a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Borrar tu catalogo</a></li>
                        </ul>
                    </div>
                
                    <div class="column">
                        <ul class="footer-ul">
                            <li class="footer-item">
                                <h3 class="has-text-weight-bold">Datos de contacto</h3>
                            </li>
                            <li class="footer-item"><a class="footer-link" href="#">Head</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Catálogo para mujeres</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Ver tu Catalogo </a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Privacidad y cookies</a></li>
                            <li class="footer-item"><a class="footer-link" href="#">Borrar tu catalogo</a></li>
                        </ul>
                    </div>
                
                    <div class="column is-full">
                        <div class="footer-socials">
                            <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-instagram"></i></a>
                            <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="footer-bar-top">
                <div class="container">
                    <a class="footer-bar-top-links" href="#">2019 Avenue Fashion</a>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
    import config from '../../config/configServer'
    import axios  from 'axios'

    export default {
        data() {
            return {
                urlServer: config.urlServer,
                listaCategorias             : [],
                listaProductosPorCategorias : [],

                //idCategoria : ""
            } 
        },

        created() {
            this.cargarListaCategorias();
            //this.cargarListaProductosPorCategorias();
        },

        mounted() {
            require("../../static/js/main.js")
        },

        methods: {
            async cargarListaCategorias() {
                let res = await axios({ url: config.urlServer+"/api/public/categorias", data: {}, method: 'GET' });

                this.listaCategorias = res.data;  
                
                if(this.listaCategorias.length > 0){
                    this.cargarListaProductosPorCategorias(this.listaCategorias[0]._id);
                }
            },

            async cargarListaProductosPorCategorias(idCategoria) {
                let res = await axios({ url: config.urlServer+"/api/public/productos/"+idCategoria, data: {}, method: 'GET' });

                this.listaProductosPorCategorias = res.data;
            },

            irView(ruta) {
                this.$router.replace(ruta);
            }
        }
    }
</script>

<style>
    .formatoImagen {
        height: 300px;
        
    }
</style>