<template>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registro de productos</h4>

                    <p class="card-description"></p>

                    <form class="forms-sample">
                            <div class="form-group">
                                <label>Codigo</label>
                                <input type="text" class="form-control" placeholder="Codigo" v-model="Producto.Codigo">
                            </div>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" placeholder="Nombre" v-model="Producto.Nombre">
                            </div>

                            <div class="form-group">
                                <label>Precio</label>
                                <input type="text" class="form-control" placeholder="Precio" v-model="Producto.Precio">
                            </div>

                            <div class="form-group">
                                <label>Categoría</label>
                                <select v-model="Producto.IdCategoria" class="form-control">
                                    <option v-for="categoria in listaCategorias" :key="categoria._id" v-bind:value="categoria._id">{{categoria.Nombre}}</option>
                                </select>
                            </div>

                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea type="text" class="form-control" placeholder="Descripción" v-model="Producto.Descripcion"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Visible</label>
                            <select v-model="Producto.Visible" class="form-control">
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Subir imágen</label>
                            <div class="file-upload-form">
                                <input type="file" @change="previewImage" accept="image/*">
                            </div>
                        </div>

                        <a class="btn btn-primary mr-2 float-right" v-on:click="crearProducto();">Guardar</a>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Lista de productos</h4>
                    <p class="card-description"></p>

                    <div class="table-responsive">
                        <vue-good-table
                            :columns="columsListaProductos"
                            :rows="listaProductos"
                            :line-numbers="true"
                            :pagination-options="{
                                enabled: true,
                                mode: 'records',
                                perPage: 5,
                                position: 'bottom',
                                perPageDropdown: [10, 15, 20, 30],
                                dropdownAllowAll: false,
                                setCurrentPage: 1,
                                nextLabel: 'Siguiente',
                                prevLabel: 'Anterior',
                                rowsPerPageLabel: 'Registros por pagina',
                                ofLabel: 'de',
                                pageLabel: 'page', // for 'pages' mode
                                allLabel: 'All',
                            }"
                            :search-options="{
                                enabled: true,
                                trigger: '',
                                placeholder: 'Filtrar tabla',
                            }"
                        >
                            <div slot="emptystate">
                                No se encontraron registros
                            </div>
                            <template slot="table-row" slot-scope="props">
                                <span v-if="props.column.field == 'Foto'">
                                    <img v-bind:src="urlServer+'/foto/producto/'+props.row.UrlImg" alt="" class='imgRedonda'>
                                </span>
                                <span v-if="props.column.field == 'acciones'">
                                    <div class="text-center">
                                        <a v-on:click="selectProducto(props.row,'modalEditarProducto')" class="text-white btn btn-info btn-circle btn-sm" style="cursor: pointer;">
                                            <i class="mdi mdi-grease-pencil"></i>
                                        </a>

                                        <a v-on:click="selectFoto(props.row._id, 'modalEditarFoto')" class="text-white btn btn-info btn-circle btn-sm" style="cursor: pointer;">
                                            <i class="mdi mdi-image"></i>
                                        </a>
                                    </div>
                                </span>
                                <span v-else>
                                    {{props.formattedRow[props.column.field]}}
                                </span>
                            </template>
                        </vue-good-table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ventana modal, editar producto -->
        <div class="modal" tabindex="-1" role="dialog" id="modalEditarProducto">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Actualizar producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label>Codigo</label>
                            <input type="text" class="form-control" placeholder="Codigo" v-model="ProductoSelect.Codigo">
                        </div>

                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre" v-model="ProductoSelect.Nombre">
                        </div>

                        <div class="form-group">
                            <label>Precio</label>
                            <input type="text" class="form-control" placeholder="Precio" v-model="ProductoSelect.Precio">
                        </div>

                        <div class="form-group">
                            <label>Categoría</label>
                            <select v-model="ProductoSelect.IdCategoria" class="form-control">
                                <option v-for="categoria in listaCategorias" :key="categoria._id" v-bind:value="categoria._id">{{categoria.Nombre}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea type="text" class="form-control" placeholder="Descripción" v-model="ProductoSelect.Descripcion"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Visible</label>
                            <select v-model="ProductoSelect.Visible" class="form-control">
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>

                        <a class="btn btn-primary mr-2 float-right" v-on:click="actualizarProducto();">Actualizar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN Ventana modal, editar producto -->

        <!-- Ventana modal, editar foto-->
        <div class="modal" tabindex="-1" role="dialog" id="modalEditarFoto">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Actualizar foto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label>Subir imágen</label>
                            <div class="file-upload-form">
                                <input type="file" @change="previewImage" accept="image/*">
                            </div>
                        </div>

                        <a class="btn btn-primary mr-2 float-right" v-on:click="actualizarFoto();">Actualizar foto</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN Ventana modal, editar foto -->
    </div>
</template>

<script>
    import 'vue-good-table/dist/vue-good-table.css'
    import { VueGoodTable } from 'vue-good-table'
    import config           from '../../../config/configServer'
    import axios            from 'axios'

    export default {
        components: {
            VueGoodTable
        },

        data() {
            return {
                urlServer: config.urlServer,

                Producto: {
                    Codigo      : "",
                    Nombre      : "",
                    Precio      : "",
                    IdCategoria : "",
                    Descripcion : "",
                    Visible     : "SI",
                    Archivo     : ""
                },

                listaCategorias : [],
                listaProductos  : [],
                ProductoSelect  : {},

                ProductoFoto: "",
                info: "",
                imageData: "",
                archivoImagen: {
                    Data: "",
                    Extension: ""
                },

                columsListaProductos: [
                    {
                        label: "Foto",
                        field: "Foto"
                    },
                    {
                        label: "Nombre",
                        field: "Nombre"
                    },
                    {
                        label: "Precio",
                        field: "Precio"
                    },
                    {
                        label: "Categoria",
                        field: "Categoria.Nombre"
                    },
                    {
                        label: "Acciones",
                        field: "acciones"
                    }
                ]

            }
        },

        created() {
            this.cargarListaCategorias();
            this.cargarListaProductos();
        },

        methods: {
            async cargarListaCategorias() {
                let res = await axios({ url: config.urlServer+"/api/public/categorias", data: {}, method: 'GET' });

                this.listaCategorias = res.data;
            },

            async cargarListaProductos() {
                let res = await axios({ url: config.urlServer+"/api/productos/empresa", data: {}, method: 'GET' });

                this.listaProductos = res.data;
            },

            async crearProducto() {
                this.Producto.Archivo = this.archivoImagen;

                let res = await axios({ url: config.urlServer+"/api/producto", data: this.Producto, method: 'POST' });

                let data = res.data;
                
                if(data.Error) {
                    this.mostrarMensaje(data.Error, data.Msg);
                } else {
                    this.mostrarMensaje(data.Error, data.Msg);

                    this.Producto = {
                        Codigo      : "",
                        Nombre      : "",
                        Precio      : "",
                        IdCategoria : "",
                        Descripcion : "",
                        Visible     : "SI"
                    };

                    this.cargarListaProductos();
                }
            },
            
            async actualizarProducto() {
                let IdProducto = this.ProductoSelect.IdProducto;

                let res = await axios({ url: config.urlServer+"/api/producto/"+IdProducto, data: this.ProductoSelect, method: 'PUT' })

                let data = res.data;

                if(data.Error) {
                    this.mostrarMensaje(data.Error, data.Msg);
                } else {
                    this.mostrarMensaje(data.Error, data.Msg);

                    $("#modalEditarProducto").modal("hide");

                    this.cargarListaProductos();
                }
            },

            async actualizarFoto() {
                
                let objeto = {
                    Archivo: this.archivoImagen
                }
                let res = await axios({ url: config.urlServer+"/api/producto/foto/"+this.ProductoFoto, data: objeto, method: 'PUT' })

                let data = res.data;

                if(data.Error) {
                    this.mostrarMensaje(data.Error, data.Msg);
                } else {
                    this.mostrarMensaje(data.Error, data.Msg);

                    $("#modalEditarFoto").modal("hide");

                    this.cargarListaProductos();
                }
            },
            
            selectProducto(item,id) {
                this.ProductoSelect = {
                    IdProducto  : item._id,
                    Codigo      : item.Codigo,
                    Nombre      : item.Nombre,
                    Precio      : item.Precio,
                    IdCategoria : item.IdCategoria,
                    Descripcion : item.Descripcion,
                    Visible     : item.Visible
                }

                $("#"+id).modal("show");
            },

            selectFoto(producto,id) {
                this.ProductoFoto = producto;

                $("#"+id).modal("show");
            },

            mostrarMensaje(estado, mensaje) {
                if(estado === true) {
                    this.$awn.alert(mensaje)

                    return;
                }

                this.$awn.success(mensaje)
            },

            previewImage: function(event) {
                // Reference to the DOM input element
                var input = event.target;
            
                // Ensure that you have a file before attempting to read it
                if (input.files && input.files[0]) {
                    // create a new FileReader to read this image and convert to base64 format
                    var reader = new FileReader();
                    
                    // Define a callback function to run, when FileReader finishes its job
                    reader.onload = (e) => {
                    
                        // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                        // Read image as base64 and set to imageData
                        //this.imageData = e.target.result;

                        this.archivoImagen.Data = e.target.result.split(",")[1];

                        this.archivoImagen.Extension = input.files[0].name.split(".")[1];
                    }
                    
                    // Start the reader job - read file as a data url (base64 format)
                    reader.readAsDataURL(input.files[0]);
                }
            }
        }
    }
</script>

<style>
    /*a:not([href]):not([tabindex]){
        color: white
    }*/

    .imgRedonda {
    width:30px;
    height:30px;
    border-radius:150px;
    display:block;
margin:auto;
}
</style>